#mainbody
{
background-color:rgb(203,198,204);
}
#pad
{
padding-right:15%;
padding-left:15%;
}
#homepad
{
padding-right:5%;
padding-left:5%;
}
#pad2
{
padding-right:10%;
padding-left:10%;
}
#tmtest
{
background-color:rgb(255,255,255,0.4);
}

#pad_reuslt
{
padding-top:10%;
padding-right:15%;
padding-left:15%;
padding-bottom:15%;
}
#black_text
{
color:black;
}
#maya_color
{
	color:rgb(147,149,247);
}
#detailpad
{
	
}